doctype html
html
  head
    title Prince dance academy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/d2.png", alt="")
                | PDA
            li #[a(href="/") Home]
            li #[a(href="/") Info]
            li #[a(href="/") About Us]
            li #[a(href="/") Services]
            li #[a(href="/contact") Contact Us]
    block content
    block contact
    footer#footer
               p Copyright@ 2020 PrinceDanceAcademy.com | All right reservered.
    